/* Navbar */
.navbar {
    width: 100%;
    padding: 0.8rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 65px;
  }
  
  .nav-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
  }
  
  .nav-links {
    display: flex;
    gap: 1.2rem;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin-top: 3px;
  }
  
  .nav-link:hover {
    text-decoration: none;
    color: #f0f0f0;
  }
  .logout-button {
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    padding: 5px;
  
    
  
  }
  
  .logout-button:hover {
    text-decoration: none;
    color: red;
  }
  
  /* Home Content */
  .home-container {
    margin-top: 110px;
    padding: 2rem;
    text-align: center;
  }
  
  .content h2 {
    font-size: 2rem;
    color: #333;
    margin-left: 30vh;
  }
  
  .content p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 1rem;
    margin-left: 20rem;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-left: 300px;
  }
  
  .image-container img {
    width: 300px;
    height: 200px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Cards Section */
  .cards-container {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-top: 2rem;
  }
  
  .card {
    width: 300px;
    background: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 90px;
  }
  
  .card-img {
    width: 100%;
    height: 180px;
    border-radius: 8px;
  }
  
  .card-title {
    font-size: 1.5rem;
    color: #333;
    margin: 0.5rem 0;
  }
  
  .card-description {
    font-size: 1rem;
    color: #555;
  }
  
  /* Footer */
  .footer {
    width: 100%;
    padding: 1rem;
    text-align: center;
    background-color: #007bff;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 0.9rem;
  }
  